@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Animation Process */

/* Visualizer */
/* Home */
.profile-pic:hover .left-wing {
  animation: leftpeak 1s forwards;
}

.profile-pic:hover .right-wing {
  animation: rightpeak 1s forwards;
}

@keyframes leftpeak {
  100% {
    transform: translateX(230px);
  }
}

@keyframes rightpeak {
  100% {
    transform: translateX(-230px);
  }
}

/* Home end */

.project-anime {
}

.educat-anime {
}

.extras-anime {
}

.contact-anime {
}
/* Animation Done */
